@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,100;1,400;1,500;1,600&display=swap');

:root {
    --primary: #000000;
    --background: #ffff;
    --background-mask: rgba(212, 209, 209, 0.6);
    --size-background: 80%;
    --border-color: #eee;
    --active-color: #f05d23;
    --border-error-color: rgb(255, 38, 0);
    --border-success-color: #10abff;
    --color-gray:#555;
}

* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    height: 100vh;
}

input,
button {
    border: none;
    outline: none;
}
button {
    cursor: pointer;
}

a[href] {
    text-decoration: none;
}

textarea{
    font:inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid {
    width: 75%;
    height: 100%;
}

@media (max-width: 1170px) and (min-width: 950px) {
    .wrap .grid {
        width: 90% ;
    }
}

.slick-prev:before {
    position: absolute;
    color: #333;
    font-size: 35px;
    left: 0;
}

.slick-next:before {
    color: #333;
    font-size: 35px;
    position: absolute;
    right: 0px;
}

.d-n {
    display: none;
}
.error-border {
    border: 1px solid var(--border-error-color);
    &:focus-within {
        box-shadow: 0px 0px 5px var(--border-error-color);
    }
    box-shadow: 0px 0px 5px var(--border-error-color);
}

.success-border {
    border: 1px solid var(--border-success-color);
    &:focus-within {
        box-shadow: 0px 0px 5px var(--border-success-color);
    }
    box-shadow: 0px 0px 5px var(--border-success-color);
}

.title-error {
    color: var(--border-error-color);
    font-size: 1.4rem;
    margin-top: -20px;
}

// animation

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}