
.wrapper{
    margin-top:-150px;
}

.benefit{
    background-color:rgb(221, 217, 217);
    padding: 50px 0;
}

.logo-brands{
    padding:100px 0;
    
}
.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
}