.contain{
    display: flex;
    padding: 50px 0;
}
.info-product{
    width: 60%;
    padding-right:  20px;
    border-right: 1px solid rgb(226, 225, 225);
}
.pay{
    flex: 1;
    padding-left: 20px;
}


