.wrapper {
    background-color: var(--background);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #999, 1px 1px 10px #999, 1px 1px 10px #999, 1px 1px 10px #999;
}

.isNotPadding {
    padding: 0;
}
