.wrapper {
    display: flex;
    overflow: hidden;
    height: 490px;
}

.new-inform {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 50%;
    background-image: url('./product-background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.content{
    width: 50%;
}
.title-inform {
    font-weight: 500;
    font-size:1.8rem;
    font-style: oblique;
}
.title-inform ,.info-inform,.see-product-inform {
    color: var(--background);
    padding: 5px 0;
}
.see-product-inform {
    font-weight: 500;
    cursor: pointer;
    opacity: 0.8;
    span{
        padding: 10px;
    }
    &:hover{
        opacity: 1;
    }
}

.info-inform{
    font-weight:600;
    font-size: 6rem;
}

.list-product{
    display: flex;
    width: 50%;
    background-color:rgb(209,198,221);
}
.contain-img{
    display: flex;
    width:50%;
    align-items: flex-end;
}
.img-contain-img{
    width: 100%;
    object-fit: cover;
}
.contain-logo{
    width: 100%;
}
.logo{
    width:100%;
    min-width: 150px;
    object-fit: cover;
}
.content-contain-img{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 30px;
}
.wrapper-title-content-img{
    position: relative;
    left: -80%;
}
.title-content-img{
    font-size: 3rem;
    width: 200px;
    font-weight: 500;
    padding-bottom: 30px;
    .span{
        display: block;
    }
}

.see-list-product{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius:50%;
    background-color: white;
    text-align: center;
    line-height:40px;
    color: var(--primary);
    &:hover{
        background-color:#999;
    }
}