.wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.contain{
    width: 25%;
    height:450px;
    padding:0 5px;
    padding-bottom:10px;
    margin-bottom: 10px;
    &:hover{
        transform: translateY(-5px);
        transition:0.4s ease;
        box-shadow: 5px 5px 10px #999;
    }
}

