.wrapper{
    width:100% ;
    display: flex;
    align-items: center;
}
.icon{
    display: block;
    font-size:2rem;
}
.title{
    display: block;
    font-size:1.6rem;
    line-height: 1.6rem;
    padding: 10px 20px;
    line-height: 2rem;
}