.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    padding: 5px 20px;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 20px;
    border-radius: 7px;
    background-color: var(--primary);
    color: rgb(218, 214, 214);
    cursor: pointer;
    transition: 0.1s ease-in-out;
    user-select: none;
}

.w100 {
    width: 100%;
}
.ishover {
    &:hover {
        transform: translateY(-1.5px);
        box-shadow: 5px 5px 10px #999;
    }
}
.disabled {
    opacity: 0.5;
    cursor: default;
    &:hover {
        transform: none;
        box-shadow: none;
    }
}
.more{
    background-color: transparent;
    padding: 3px 7px;
    border:1px solid var(--active-color);
    color:var(--active-color);
    &:hover{
        opacity: 0.7;
    }
}
.center{
    position:absolute;
    // top: 50%;
    left:50%;
    transform: translateX(-50%);
}
