.contact-us {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 20px 0;
    textarea {
        width: 100%;
        height: 130px;
        border-radius: 2px;
        padding: 10px 10px;
        font:inherit;
        font-size: 1.6rem;
        
        word-spacing: 0.1rem;
        &:focus-within {
            outline: none;
            border-color: transparent;
            box-shadow: 0 0 0 1px #eaba1b, 0 0 0 1px #eaba1b;
        }
    }
    .btn-send{
        width:50%;
        margin: auto;
        margin-top:10px;
    }
}
.title-contact-us{
    text-align: center;
    padding-bottom: 10px;
}
.info-contact {
    display: flex;
    align-items: center;
}
.logo {
    width: 35%;
    padding: 0 15px;
}
.img-logo {
    width: 100%;
    object-fit: cover;
}
.contact-us-input {
    display: flex;
}
.input-info {
    width: 50%;
    padding: 0 5px;
    &:first-child{
        padding-left: 0;
    }
    &:last-child{
        padding-right: 0;
    }
}
