.wrapper {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    // position:absolute;
}

.contain {
    position: relative;
    width: 100%;
}

.begin {
    // position: relative;
    // top: 0;
    // right:0;
    // left: 0;
}

.main {
    // position: relative;
    padding-top:100px;
}

.footer{
    
}