.wrapper {
}

.title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.input {
    height: 30px;
    width: 350px;
    border: 1px solid #999;
    padding: 5px 10px;
    font-size: 1.6rem;
    margin-bottom: 20px;
    &:focus-within {
        border-color: transparent;
        box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #fff, 1px -1px 5px #999, -1px 1px 5px #333;
    }
}
.gold {
    &:focus-within {
        border-color: transparent;
        box-shadow: 0 0 0 1px #eaba1b, 0 0 0 1px #eaba1b;
    }
}
.w100 {
    width: 100%;
    height: 37px;
}
.w500 {
    width: 50%;
    height: 37px;
}
.w30 {
    width: 30%;
    height: 37px;
}
.w70 {
    width: 70%;
    height: 37px;
}
